:root {
	--fg: #fff;
	--sl-color-accent-low: #000;
	--sl-color-accent: #fff;

	--sl-color-white: #fff;
	--sl-color-black: #000;

	--sl-color-text: #fff;
	--sl-color-text-accent: #fff;
	--sl-color-bg: #000;
	--sl-color-bg-nav: #000;
	--sl-color-bg-sidebar: #000;
	--sl-color-hairline-shade: transparent;
	--sl-color-hairline: transparent;
}

:root[data-theme="light"] {
	--fg: #000;
	--sl-color-text: #000;
	--sl-color-text-accent: #000;
	--sl-color-bg: #fff;
	--sl-color-bg-nav: #fff;
	--sl-color-bg-sidebar: #fff;
	--sl-color-bg-inline-code: #fff;
}
